app:
  instance-id: ${random.uuid}
# patch swagger-ui.html
spring.web.resources.static-locations: classpath:/patch/, classpath:/META-INF/resources/, classpath:/resources/, classpath:/static/, classpath:/public/
security.enabled: true

ftp:
 server:
    redis:
        namespace: ftpserver
        host: ${FTP_REDIS_HOST:localhost}
        port: 6379
ftpserver:
    cache:
        ehcache:
            maxBytesLocalHeap: 16M
        timeToLiveSeconds: 3600
    storage:
        rootStorageFolderName: FileStorage/

server:
    tomcat:
      remoteip:
        remote-ip-header: X-Forwarded-For
        protocol-header: X-Forwarded-Proto
        internalProxies: .*
    servlet:
        contextPath: /
        session:
            timeout: 30
            persistent: true
    compression:
        enabled: true
        min-response-size: 1
    port: 8081
    ssl:
        enabled: false
spring:
    application:
        name: ftp.server
    servlet:
        multipart:
            max-file-size: 10GB
            max-request-size: 10GB
            location: ${java.io.tmpdir}
            enabled: true
