app:
  instance-id: ${random.uuid}
# patch swagger-ui.html
spring.resources.static-locations: classpath:/patch/, classpath:/META-INF/resources/, classpath:/resources/, classpath:/static/, classpath:/public/

ftp:
 server:
    redis:
        namespace: ftpserver
        host: ${FTP_REDIS_HOST:localhost}
        port: 6379
ftpserver:
    cache:
        ehcache:
            maxBytesLocalHeap: 16M
        timeToLiveSeconds: 3600
    storage:
        rootStorageFolderName: ./FileStorage
logging:
    level:
        ROOT: DEBUG
        ftp:
            core: DEBUG
        org:
            hibernate: INFO
            springframework:
                data: INFO
                security: INFO
                web: INFO
server:
    tomcat:
        remote_ip_header: X-Forwarded-For
        protocol_header: X-Forwarded-Proto
        internalProxies: .*
    servlet:
        contextPath: /
        session:
            timeout: 30
            persistent: true
    compression:
        enabled: true
        min-response-size: 1
    port: 8443
    ssl:
        enabled: false
spring:
    session:
        redis:
            flush-mode: ON_SAVE
            namespace: ftp-server
        store-type: redis
    application:
        name: ftp.server
    datasource:
        type: com.zaxxer.hikari.HikariDataSource
        url: jdbc:postgresql://${FTP_DB_HOST:localhost}:${FTP_DB_PORT:5432}/${FTP_DB_NAME:ftp_server}?currentSchema=${FTP_DB_SCHEMA:public}${FTP_DB_SSL:}
        username: ${FTP_DB_USER:ftp_user}
        password: ${FTP_DB_PASSWORD:ribamech}
    jpa:
        hibernate:
          ddl-auto: create
          use-new-id-generator-mappings: true
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        properties:
            hibernate:
                temp:
                    use_jdbc_metadata_defaults: false
                jdbc.time_zone: UTC
                cache:
                    use_query_cache: false
                    use_second_level_cache: false
                dialect: org.hibernate.dialect.PostgreSQLDialect
                format_sql: false
                generate_statistics: false
        show-sql: false

    servlet:
        multipart:
            max-file-size: 10GB
            max-request-size: 10GB
            location: ${java.io.tmpdir}
            enabled: true
