h2 {
	text-shadow: -1px 1px 0 #333333;
	color: #fff;
}

.header {
	border-bottom: 1px solid #333333;
}

.tabs {
	width: 100%;
	display: inline-block;
}

.tab-links:after {
	display: block;
	clear: both;
	content: '';
}

.tab-links li {
	float: left;
	list-style: none;
	margin: 0 5px;
}

.tab-links a {
	display: inline-block;
	border-radius: 3px 3px 0 0;
	background: #47A3FF;
	font-size: 16px;
	font-weight: 600;
	color: #FFFFFF;
	transition: all linear .15s;
	padding: 9px 15px;
}

.tab-links a:hover {
	background: #333333;
	text-decoration: none;
}

li.active a,li.active a:hover {
	background: #fff;
	color: #333333;
}

.tab-content {
	font-size: 16px;
	font-weight: 600;
	color: #333333;
	border-radius: 3px;
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
	background: #FFFFFF;
	padding: 15px;
}

.tab {
	display: none;
}

.tab.active {
	display: block;
}